form {
  border: 5px solid #f1f1f1;
  text-align: left;
  width: 40%;
  height: 50%;
  display: block;
  float: right;
  margin-right: 30%;
  margin-top: 3%;
  }

  body{
     font: 15px/1.5 Arial, Helvetica,sans-serif;
  }

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
   background: #e6e6e6;
}
button {

  background-color: #1fb8e2;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;

}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 5px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 20%;
  border-radius: 50%;
}
.container {
  padding: 2px;


}
